// Colours
$color-primary:#D9261C;
$color-primary-light: #DF6660;
$color-primary-dark:#590F0C;

$color-secondary: #FFC72C;
$color-secondary-light: #FFDB78;
$color-secondary-dark:#806316;

$color-tertiary: #27251F; 

$color-grey-dark: #777;
$color-grey-light-1:#e6e6e6;
$color-grey-light-2: #eee;
$color-white:#fff;
$color-black:#000;



$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;


// font size
$default-font-size: 1.6rem;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;